@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-rock-moonstone-50: #f0f9fb;
    --color-rock-moonstone-100: #d9f1f4;
    --color-rock-moonstone-200: #b8e2e9;
    --color-rock-moonstone-300: #86ccda;
    --color-rock-moonstone-400: #4cadc2;
    --color-rock-moonstone-500: #3292a8;
    --color-rock-moonstone-600: #2c778e;
    --color-rock-moonstone-700: #2a6174;
    --color-rock-moonstone-800: #295061;
    --color-rock-moonstone-900: #264553;
    --color-rock-moonstone-950: #152b37;

    --color-rock-cinerous-50: #f9f7f7;
    --color-rock-cinerous-100: #f2efee;
    --color-rock-cinerous-200: #e8e2e0;
    --color-rock-cinerous-300: #d7cdca;
    --color-rock-cinerous-400: #bfafaa;
    --color-rock-cinerous-500: #a6938d;
    --color-rock-cinerous-600: #95817b;
    --color-rock-cinerous-700: #76645f;
    --color-rock-cinerous-800: #645550;
    --color-rock-cinerous-900: #554a47;
    --color-rock-cinerous-950: #2c2523;

    --color-rock-purple-50: #fdf2f7;
    --color-rock-purple-100: #fce7f2;
    --color-rock-purple-200: #fad0e6;
    --color-rock-purple-300: #f7aad0;
    --color-rock-purple-400: #f175b0;
    --color-rock-purple-500: #e94b91;
    --color-rock-purple-600: #d72b6e;
    --color-rock-purple-700: #b71b54;
    --color-rock-purple-800: #9a1a48;
    --color-rock-purple-900: #811a3e;
    --color-rock-purple-950: #4e0921;

    --color-rock-gray-50: #f6f6f6;
    --color-rock-gray-100: #e7e7e7;
    --color-rock-gray-200: #d1d1d1;
    --color-rock-gray-300: #b0b0b0;
    --color-rock-gray-400: #888888;
    --color-rock-gray-500: #6d6d6d;
    --color-rock-gray-600: #5d5d5d;
    --color-rock-gray-700: #4f4f4f;
    --color-rock-gray-800: #2a2a2a;
    --color-rock-gray-900: #151515;
    --color-rock-gray-950: #080808;

    --color-rock-alabaster-50: #fafafa;
    --color-rock-alabaster-100: #efefef;
    --color-rock-alabaster-200: #dcdcdc;
    --color-rock-alabaster-300: #bdbdbd;
    --color-rock-alabaster-400: #989898;
    --color-rock-alabaster-500: #7c7c7c;
    --color-rock-alabaster-600: #656565;
    --color-rock-alabaster-700: #525252;
    --color-rock-alabaster-800: #464646;
    --color-rock-alabaster-900: #3d3d3d;
    --color-rock-alabaster-950: #292929;

    --color-rockschool-latte-900: #8f807c;
    --color-rockschool-yellow-900: #ffce7b;
    --color-rockschool-teal-900: #4cadc2;
    --color-rockschool-pink-900: #b71b54;
    --color-rockschool-purple-900: #532075;

    --color-rockschool-grey: #f2f2f2;
    --color-rockschool-dark: #151515;
    --color-rockschool-darker: #0f0f0f;
    --color-rockschool-latte: #8f807c;
    --color-rockschool-yellow: #ffce7b;
    --color-rockschool-teal: #4cadc2;
    --color-rockschool-teal-bright: #59d4ef;
    --color-rockschool-pink: #b71b54;
    --color-rockschool-purple: #532075;
}


.logo img {
    max-height: 100px;
    width: 220px;
}

hmtl {
    scroll-behavior: smooth !important;
}

main {
    position: relative;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.primary-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.primary-menu li {
    margin: 0 15px;
}

.primary-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header-actions {
    display: flex;
    align-items: center;
    width: 350px;
}

.login-link,
.register-link {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.login-link {
    color: #4CADC2;
}

.register-link {
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #333;
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.to-be-fixed.ed-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    border-radius: 0;
}

.to-be-fixed {
    transition: 0.4s ease;
    border-radius: 0 0 10px 10px;
}

.ed-header-nav a:hover {
    color: var(--ed-purple);
}

.menu-item a:hover {
    color: #59d4ef;
}

#google-results {
    margin: 0;
    list-style: none;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .main-navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        border-top: 1px solid #ddd;
    }

    .primary-menu {
        flex-direction: column;
    }

    .primary-menu li {
        margin: 10px 0;
    }

    .header-actions {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .main-navigation.active {
        display: flex;
    }
}

.footer-menu,
.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    /* Space between menu items */
}

.footer-menu li {
    display: block;
}

.footer-menu li a {
    text-decoration: none;
}

.element-content,
.small-text {
    font-size: 0.8em;
    line-height: 1.5em;
}

.topbar {
    padding-top: 0;
    padding-bottom: 0;
}

.topbar svg {
    width: 17px;
    display: inline-block;
    margin-right: 3px;
}

span.wpcf7-form-control-wrap textarea {
    min-height: 339px;
}

input[type="submit"].wpcf7-form-control {
    border: 2px solid #ffffff;
    padding: 12px 31px !important;
    text-transform: uppercase;
    border-radius: 0;
    background: transparent;
    color: #fff;
}

input[type="submit"].wpcf7-form-control:hover {
    background: #ffffff;
    color: #000;
}

@media (max-height: 950px) and (min-width: 701px) {
    .main-hero-holder {
        min-height: 100vh;
    }
}

.slick-arrow {
    max-width: 52px;
}

@media (max-width: 768px) {
    .slick-arrow {
        max-width: 21px;
    }
}

.single-post figure.wp-block-embed.is-type-video.wp-embed-aspect-16-9 iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.single-post figure.wp-block-embed.is-type-video.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    position: relative;
}

.instrument-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.5em;
}

span.provider-title-type {
    display: block;
    font-size: 0.4em;
}

.provider-type {
    font-family: 'Montage', Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.85em;
    font-size: 1.6em;
}

.provider-meta {
    display: flex;
    align-items: center;
}

.no-margin {
    margin: 0 !important;
}

img.map-icon {
    max-width: 263px;
}

img.cal-icon {
    max-width: 89px;
    position: relative;
    top: -31px;
    right: 0;
}

@media (max-width:900px) {
    img.map-icon {
        max-width: 150px;
    }

    img.cal-icon {
        display: none;
    }
}

.footer-social-icon {
    width: 3em;
    margin: 0 0.4em;
}

img.footer-logo {
    max-width: 190px;
}

@media (max-width:767px) {
    img.footer-logo {
        display: block;
        margin: auto;
    }

    .footer-menu {
        justify-content: center;
    }
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 10px;
}

#nav-icon span:nth-child(4) {
    top: 20px;
}

#nav-icon.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.mobile-nav-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fafafa;
    right: 0;
}

.mobile-nav-toggle {
    position: relative;
    width: 33px;
    height: 25px;
}

div#nav-icon {
    width: 100%;
    height: 100%;
}

#nav-icon span {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

ul#primary-menu-mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div#mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav-pane {
    position: absolute;
    width: 100%;
    z-index: -2;
    opacity: 0;
    background: #151515;
    background-size: cover;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    display: none;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width:767px) {
    .nav-open .mobile-nav-pane {
        z-index: 2;
        opacity: 1;
        display: block;
    }

    body.nav-open {
        overflow: hidden;
    }

    .mobile-nav-toggle {
        display: block;
    }

    .header-main-inner {
        transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
    }

    .nav-open .header-main-inner {
        background: #151515;
    }

    .mobile-nav-socials {
        margin-top: 2em;
    }

    .mobile-nav-socials .footer-social-icon {
        width: 30px;
    }
}

.align-right {
    text-align: right;
}

.timeline-module-inner .align-right {
    text-align: left;
}

section.timeline-module {
    padding-bottom: 4em;
}

@media (min-width:768px) {
    .timeline-module-inner .align-right {
        text-align: right;
    }

    .timeline-module-inner h2.align-right {
        padding-right: 0.2em;
    }

    .timeline-module-inner .split-text-holder .align-left {
        border-left: 2px solid #fff;
        padding-left: 1em;
    }

    .timeline-module-inner h2.align-left {
        padding-left: 0.2em;
    }

    .timeline-module-inner .split-text-holder .align-right {
        padding-right: 1em;
        border-right: 2px solid #fff;
    }

    .timeline-module p {
        margin: 0;
    }
}

.map-card img {
    width: 100%;
}

a.map-card-link {
    width: fit-content;
    text-decoration: underline;
}

a.map-card-link:focus,
a.map-card-link:focus-visible {
    outline: none;
}