@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-rock-moonstone-50: #f0f9fb;
    --color-rock-moonstone-100: #d9f1f4;
    --color-rock-moonstone-200: #b8e2e9;
    --color-rock-moonstone-300: #86ccda;
    --color-rock-moonstone-400: #4cadc2;
    --color-rock-moonstone-500: #3292a8;
    --color-rock-moonstone-600: #2c778e;
    --color-rock-moonstone-700: #2a6174;
    --color-rock-moonstone-800: #295061;
    --color-rock-moonstone-900: #264553;
    --color-rock-moonstone-950: #152b37;
  
    --color-rock-cinerous-50: #f9f7f7;
    --color-rock-cinerous-100: #f2efee;
    --color-rock-cinerous-200: #e8e2e0;
    --color-rock-cinerous-300: #d7cdca;
    --color-rock-cinerous-400: #bfafaa;
    --color-rock-cinerous-500: #a6938d;
    --color-rock-cinerous-600: #95817b;
    --color-rock-cinerous-700: #76645f;
    --color-rock-cinerous-800: #645550;
    --color-rock-cinerous-900: #554a47;
    --color-rock-cinerous-950: #2c2523;
  
    --color-rock-purple-50: #fdf2f7;
    --color-rock-purple-100: #fce7f2;
    --color-rock-purple-200: #fad0e6;
    --color-rock-purple-300: #f7aad0;
    --color-rock-purple-400: #f175b0;
    --color-rock-purple-500: #e94b91;
    --color-rock-purple-600: #d72b6e;
    --color-rock-purple-700: #b71b54;
    --color-rock-purple-800: #9a1a48;
    --color-rock-purple-900: #811a3e;
    --color-rock-purple-950: #4e0921;
  
    --color-rock-gray-50: #f6f6f6;
    --color-rock-gray-100: #e7e7e7;
    --color-rock-gray-200: #d1d1d1;
    --color-rock-gray-300: #b0b0b0;
    --color-rock-gray-400: #888888;
    --color-rock-gray-500: #6d6d6d;
    --color-rock-gray-600: #5d5d5d;
    --color-rock-gray-700: #4f4f4f;
    --color-rock-gray-800: #454545;
    --color-rock-gray-900: #3d3d3d;
    --color-rock-gray-950: #080808;
  
    --color-rock-alabaster-50: #fafafa;
    --color-rock-alabaster-100: #efefef;
    --color-rock-alabaster-200: #dcdcdc;
    --color-rock-alabaster-300: #bdbdbd;
    --color-rock-alabaster-400: #989898;
    --color-rock-alabaster-500: #7c7c7c;
    --color-rock-alabaster-600: #656565;
    --color-rock-alabaster-700: #525252;
    --color-rock-alabaster-800: #464646;
    --color-rock-alabaster-900: #3d3d3d;
    --color-rock-alabaster-950: #292929;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.site-header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}


.logo img {
    max-height: 100px;
    width: 300px;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.primary-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.primary-menu li {
    margin: 0 15px;
}

.primary-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header-actions {
    display: flex;
    align-items: center;
    width: 350px;
}

.login-link,
.register-link {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.login-link {
    color: #4CADC2;
}

.register-link {
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #333;
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        border-top: 1px solid #ddd;
    }

    .primary-menu {
        flex-direction: column;
    }

    .primary-menu li {
        margin: 10px 0;
    }

    .header-actions {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .main-navigation.active {
        display: flex;
    }
}